[Unit]
Description=VictoriaMetrics for Tado Monitor
Wants=network-online.target
After=network-online.target

[Service]
User=victoriametrics
Group=victoriametrics
Type=simple
EnvironmentFile=/etc/tado-history-dashboard/victoriametrics.env
ExecStart=/usr/local/bin/victoria-metrics-prod -storageDataPath=/var/lib/victoria-metrics -retentionPeriod=${VM_RETENTION_PERIOD} -promscrape.config=/etc/tado-history-dashboard/scrape.yaml -httpListenAddr=127.0.0.1:8428
Restart=always
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
